<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <style type="text/css">
            .result-block{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                text-align: left;
            }

            .result-title{
                font-size: 2em;
            }

            .result-title a{
                text-decoration: none;
            }

            
            
        </style>
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid_1 }})</p>
            <p>Student Name: ({{ netid_2 }})</p>
            <p>Student Name: ({{ netid_3 }})</p>
            <p>Student Name: ({{ netid_4 }})</p>
            <p>Student Name: ({{ netid_5 }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
               Research Paper Recommendation
                  
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Search for Papers...">
               
            </div>
            <button type="submit" class="btn btn-info"> Go! </button><br/>
            <label class="radio-inline"><input type="radio" name="optradio" value="arXivID" checked>arXivID</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="title">title</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="keywords">keywords</label>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <div class="result-block">
                     <br>
                    <div class="result-title">
                        <a href="{{ d[1] }}" target="new">
                            {{d[0]}}
                        </a>
                    </div>
                    <div class="result-abstract">{{d[2]}}</div>
                </div>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>
